<div class="container">
<h2>recipe-list works!</h2>

<div *ngIf="selectedRecipe">
<br/>
    <h4>{{selectedRecipe.name}}</h4>
    <h4>{{selectedRecipe.description}}</h4>

</div>

<div *ngFor="let recipe of recipes" class="mb-5">
    <P (click)="onSelect(recipe)" style="cursor: pointer;">
        {{recipe.name}}
    </P>   
    <a [routerLink]="['/recipes',recipe.id]">Edit</a>
    <br/>
    <a (click)="onDelete(recipe)" class="link-primary">Delete</a>
</div>

<a [routerLink]="['/recipes']" class="btn btn-primary">Add Recipe</a>
</div>
