<div class="container">
    <div class="p-5">
    <form  (ngSubmit)="onSubmit()">
        <h3>Recipe Form</h3>
        <input type="hidden" id="id" name="id" [(ngModel)]="model.id" >
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" required [(ngModel)]="model.name">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="area" class="form-control" id="description" name="description" required [(ngModel)]="model.description">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
         
    </form>
    </div>
</div>